@{
    ViewBag.Title = "Eventos Deportivos";
}

<main>
    <div class="container container-fluid">
        <img src="https://pre-webunwto.s3.eu-west-1.amazonaws.com/2020-01/sport-congresse.jpg" class="rounded mx-auto d-block img-fluid w-75"  alt="...">
    </div>
</main>